/************************* NavbarStyling ********************/
.top{
  background-color: #1A1A1D;
}
.topelement{
  margin-left:20px;
  margin-right:20px;
}
.brname{
  color:#c30735;
  margin-left:45px;
}
.brname:hover{
    color:#950740;
}
.butcol{
  margin-top: 5px;
  background-color:#c30735;
  border: none;
}
.nav2{
    background-color: #1A1A1D;
}
a{
    text-decoration:none;
    color:#c30735;

}

.list1{
    display:inline-block;
    float:left;
    margin-left:10px;
    margin-right:10px;
}
.list2{
    display:inline-block;
   float:right;
  margin-left:10px;
    margin-right:10px;
    text-decoration:none;
}

/* *******************City DropDown **************************/

.dropdown-menu {
  width: 1200px !important;
  border: transparent;
  border: 1px solid black;
}

.dropdown-menu-center {
  -webkit-transform: translate(-90%, 0);
  -o-transform: translate(-90%, 0);
  transform: translate(-90%, 0);
}

.city-image {
  width: 100px;
  height: 100px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.city-name {
  color: #515a5f;
}

.city-hovered-name {
  color: black;
}

.no-padding-margin {
  padding: 0;
  margin: 0;
}

.dropdown-menu .search-city{
  width: 97%;
  margin: 2% 1.5%;
  border: 1px solid black;
}

 .search-city input{
   outline: none;
   border: none;
   width: 98%;
 }

 .search-city input:focus {
   outline: none;
 }

 .pointer-cursor{
   cursor: pointer;
 }

 .other-cities {
   padding: 0 50px;
   max-height: 120px;
   overflow-y: auto;
   overflow-x: hidden;
 }

 .other-city-text {
   color: #515a5f;
   font-size: 12px;
 }

 .other-city-text:hover{
   cursor: pointer;
   color: black;
 }

 .other-cities::-webkit-scrollbar {
  display: none;
}

.more-cities, .hide-cities {
  color : #c30735;
  margin-top : 50px;
}

.more-cities-hover:hover {
  color : #c30735;
  cursor: pointer;
}

.opened-more-cities {
  color: black;
}

.hide-cities:hover {
  color : #c30735;
  cursor: pointer;
}

.invisible{
  visibility: hidden;
  display: none;
}

/* ******************Top Carousel ****************/

.carousel-control-prev-icon {
  position: absolute;
  left: 0;
  background-color: black;
  z-index: 5
}

.carousel-control-next-icon {
  position: absolute;
  right: 0;
  background-color: black;
  z-index: 5;
}

.carousel-inner {
  text-align: center;
}


.left-slide {
  z-index: -1;
  left: -80%;
  position: absolute;
  top: 0;
  display: block;
}

.right-slide {
  z-index: -1;
  right: -80%;
  position: absolute;
  top: 0;
  display: block;
}
